{% extends "base.html" %}

{% block content %}
{% for server in servers %}
<div class="row">
	<div class="span7">
		{{ server.name }}
	</div>
	<div class="span4">
		<code>{{ server.address }}</code>
	</div>
	<div class="span5">
		{% if server.status %}
		<button class="btn disabled small {{ server.status_class }}">{{ server.status }}</button>
		{% if server.status = "Allowed" %}
		<code>{{ server.password }}</code>
		{% endif %}
		{% else %}
		<button class="btn small">Request Access</button>
		{% endif %}
	</div>
</div>
{{ server.info|safe }}
{% endfor %}
{% endblock %}
