{% extends "base.html" %}

{% block title %}Passwords{% endblock %}

{% block content %}
{% for server in servers %}
<div class="row">
	<div class="span5">
		{{ server.name }}
	</div>
	<div class="span3">
		<code>{{ server.address }}</code>
	</div>
	<div class="span4">
		{% if server.status %}
		<a href="#" class="btn disabled small {{ server.status_class }}">{{ server.status }}</a>
		{% if server.status = "Allowed" %}
		<code>{{ server.password }}</code>
		{% endif %}
		{% else %}
		<a href="{% url servers.views.password_request server.id %}" class="btn small">Request Access</a>
		{% endif %}
	</div>
</div>
{{ server.info|safe }}
{% endfor %}
{% endblock %}
